body,
html {
  font-family: $f-baseFontFamily;
  color: $c-white;
  width: $wrapper-full;
  height: $wrapper-full;
}

a {
  text-decoration: none;
}

.quiz_global-logo {
  position: fixed;
  background-image: url("../assets/quiz_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: $size-m;
  left: $size-m;
  width: $size-xxl;
  height: $size-xxl;
}

@media (max-width: 768px) {
  .quiz_global-logo {
    top: 150px;
    left: $size-m;
    width: $size-l;
    height: $size-l;
  }
}

@media (max-width: 425px) {
  .quiz_global-logo {
    display: none;
  }
}
