body, html{
    font-family: $f-baseFontFamily;
    color: $c-white;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.quiz_global-logo{
    position: fixed;
    background-image: url('../assets/quiz_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 40px;
    left: 40px;
    width: 70px;
    height: 70px;
}

@media (max-width: 425px){

    .quiz_global-logo{
      display: none;
    }
}