/* Colors */ 
$c-white: white;
$-c-pink: rgb(143, 108, 209);
/* Fonts */

$f-baseFontFamily: "Roboto", sans-serif;
$f-weight-xs: 100;
$f-weight-sm: 300;

/* Breaks */

$break-mobile-xs: 425px;
$break-mobile: 768px;
$break-laptop: 1025px;
$break-high: 1441px;

/* Margins, Paddings */

$space-zero: 0px;