.select {
  width: 100%;
  height: 100vh;
  @include createBg(center, no-repeat, cover);
  @include createFlex(flex, flex-start, center, column);

  &__wrapper {
    width: 60%;
    height: 70%;
    @include createFlex(flex, space-between, center, column);

    .links{
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      
      &__back{
        font-size: 30px;
        margin-top: 5px;
        color: $c-white;
        font-weight: $f-weight-xs;
        transform: rotate(45deg);    
      }
      &__cross{
        font-size: 50px;
        color: $c-white;
        align-self: flex-end;
        font-weight: $f-weight-xs;
      }
    }

   .header {
      @include createFlex(flex, center, center, column);
    

    &__logo {
      background-image: url("../../../../assets/quiz_logo.png");
      @include createBg(center, no-repeat, contain);
      width: 200px;
      height: 60px;
    }

    &__text {
      width: 100%;
      @include createFlex(flex, center, center);
    

    &--shadow {
      width: 500px;
      height: 50px;
      @include createFlex(flex, center, center);
    }

    &--number {
      width: 80px;
      height: 80px;
      border-radius: 60px;
      @include createFlex(flex, center, center);
      border: 1px solid rgb(230, 228, 228);

      p {
        span {
          color: $-c-pink;
        }
      }
    }
   }
  }

    &--question {
      font-size: pxToRem(20);
    }

    .answers {
      @include createFlex(flex, center, center);
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      &__text {
        cursor: pointer;
        width: 300px;
        height: 80px;
        margin: 15px;
        border-radius: 10px;
        @include createFlex(flex, center, center);

        p{
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: $break-mobile) {
  .select {
    &__wrapper {
      .header {
        &__text {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;

          &--shadow {
            width: 300px;
            margin-bottom: 10px;
          }
        }
      }

      .answers {
        &__text {
          width: 280px;
          height: 50px;
          margin: 10px;
        }
      }
    }
  }
}
