.select {
  width: $wrapper-full;
  height: 100vh;
  @include createBg(center, no-repeat, cover);
  @include createFlex(flex, flex-start, center, column);

  &__wrapper {
    width: 60%;
    height: $wrapper-l;
    @include createFlex(flex, space-between, center, column);

    .links {
      margin-top: 30px;
      width: $size-full;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: end;
      align-self: flex-end;

      &__back {
        width: $size-xs;
        height: $size-xs;
        margin-right: $space-xs;
        background-image: url("../../../../assets/quiz_back.png");
        @include createBg(center, no-repeat, contain);
        cursor: pointer;
      }
      &__cross {
        width: $size-xs;
        height: $size-xs;
        margin-right: $space-xs;
        background-image: url("../../../../assets/quiz_cross.png");
        @include createBg(center, no-repeat, contain);
        -ms-flex-item-align: end;
        align-self: flex-end;
      }
    }

    .header {
      @include createFlex(flex, center, center, column);

      &__logo {
        background-image: url("../../../../assets/quiz_logo.png");
        @include createBg(center, no-repeat, contain);
        width: 200px;
        height: $size-xl;
      }

      &__text {
        width: $wrapper-full;
        @include createFlex(flex, center, center);

        &--shadow {
          width: 500px;
          height: $size-l;
          @include createFlex(flex, center, center);
        }

        &--number {
          width: 80px;
          height: 80px;
          border-radius: $size-xl;
          @include createFlex(flex, center, center);
          border: 1px solid rgb(230, 228, 228);

          p {
            span {
              color: $-c-pink;
            }
          }
        }
      }
    }

    &--question {
      font-size: pxToRem(20);
    }

    .answers {
      @include createFlex(flex, center, center);
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      &__text {
        position: relative;
        z-index: 1;
        cursor: pointer;
        width: 300px;
        height: 80px;
        margin: 15px;
        border-radius: $space-xs;
        @include createFlex(flex, center, center);

        &::before {
          position: absolute;
          z-index: -1;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: $space-xs;
          -webkit-transition: all 500ms linear;
          -o-transition: all 500ms linear;
          transition: all 500ms linear;
          opacity: 0;
        }

        p {
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: $break-mobile) {
  .select {
    &__wrapper {
      width: $wrapper-xl;
      .header {
        &__text {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;

          &--shadow {
            width: 180px;
            margin-bottom: $space-xs;
          }
          &--number {
            width: $size-xl;
            height: $size-xl;
            border-radius: $size-xl;
            @include createFlex(flex, center, center);
            border: 1px solid rgb(230, 228, 228);
          }
        }
        &__logo {
          z-index: 2;
          position: absolute;
          top: $size-xs;
          width: 150px;
          height: $size-m;
        }

        &__gradient {
          z-index: 1;
          position: absolute;
          top: -150px;
          width: 10%;
          height: 150px;
          opacity: 0.8;
        }
      }

      .answers {
        &__text {
          width: 280px;
          height: $size-l;
          margin: $space-xs;
        }
      }

      .links {
        z-index: 1;
        width: 95%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: $break-mobile-xs) {
  .select {
    &__wrapper {
      .header {
        &__gradient {
          top: -150px;
          -webkit-box-shadow: 0px 0px 90px 90px #d9198f;
          box-shadow: 0px 0px 90px 90px #d9198f;
          opacity: 0.8;
        }
      }
    }
  }
}
