.score {
  width: 100%;
  height: 100vh;
  @include createBg(center, no-repeat, cover);
  @include createFlex(flex, center, center, column);

  .wrapper {
    @include createFlex(flex, center, flex-end);
    width: 80%;

    .select {
      @include createFlex(flex, space-evenly, center, column);
      width: 70%;
      height: 100%;

      &__logo {
        z-index: 2;
        background-image: url("../../../../assets/quiz_logo.png");
        @include createBg(center, no-repeat, contain);
        width: 210px;
        height: 60px;
      }

      &__icon {
        @include createBg(center, no-repeat, contain);
        width: 60px;
        height: 60px;
      }

      &__line {
        width: 185px;
        height: 1px;
      }

      &__result {
        width: 75%;
        margin: 30px 0px;
        @include createFlex(flex, flex-start, center);

        &--shadow {
          width: 350px;
          height: 45px;
          z-index: 1;
          position: absolute;
          right: 55%;
          z-index: 0;
          @include createFlex(flex, center, center);
          font-weight: $f-weight-xs;
        }

        &--result {
          width: 130px;
          height: 130px;
          z-index: 1;
          position: absolute;
          right: 52%;
          @include createFlex(flex, center, center);
          border: 1px solid $c-white;
          border-radius: 100px;
          font-size: pxToRem(25);
        }
      }

      &__btn {
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: $f-weight-xs;

        &--link {
          @include createFlex(flex, space-around, center);
          color: $c-white;

          div {
            width: 50px;
            height: 50px;
            @include createBg(center, no-repeat, cover);
          }
        }
      }
    }

    .categories {
      @include createFlex(flex, space-between, none, column);

      .links {
        width: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: end;
        align-self: flex-end;

        &__back {
          font-size: 28px;
          margin-top: 5px;
          color: $c-white;
          font-weight: $f-weight-xs;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &__cross {
          font-size: 50px;
          color: $c-white;
          -ms-flex-item-align: end;
          align-self: flex-end;
          font-weight: $f-weight-xs;
        }
      }

      &__wrapper {
        &--btn {
          cursor: pointer;
          width: 90px;
          height: 90px;
          margin: 10px;
          border-radius: 10px;
          @include createFlex(flex, center, flex-start, column);
          padding: 20px 20px 5px 20px;
          color: $c-white;

          &--icon {
            @include createBg(center, no-repeat, contain);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
          }

          &--line {
            width: 95px;
            height: 1px;
          }

          &--text {
            color: $c-white;
            margin: 0;
            font-size: pxToRem(14);
          }
        }
      }
    }
  }
}

@media (max-width: $break-mobile) {
  .score {
    .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 90%;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .select {
        width: 100%;
        height: 70%;

        &__gradient {
          z-index: 1;
          position: absolute;
          top: -150px;
          width: 10%;
          height: 150px;
          -webkit-box-shadow: 0px -30px 90px 130px #d9198f;
          box-shadow: 0px -30px 90px 130px #d9198f;
          background: #d9198f;
          opacity: 0.8;
        }

        &__logo {
          width: 190px;
          height: 50px;
          top: 20px;
          position: absolute;
        }

        &__icon {
          width: 70px;
          height: 70px;
        }

        &__result {
          @include createFlex(flex, center, center);
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;

          &--shadow {
            display: none;
          }

          &--result {
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
          }
        }

        &__btn {
          width: 200px;
        }
      }

      .categories {
        @include createFlex(flex, space-between, none, column);

        .cross-link {
          display: none;
        }

        p {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
        }

        &__wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          &--btn {
            width: 75px;
            height: 75px;
            margin: 5px;
            padding: 15px 15px 5px 15px;

            &--icon {
              width: 40px;
              height: 40px;
            }

            &--line {
              width: 80px;
            }

            &--text {
              -webkit-text-size-adjust: none;
              font-size: pxToRem(10);
            }
          }
        }
        .links {
          width: 90%;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media (max-width: $break-mobile-xs) {
  .score {
    .wrapper {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .select {
        &__gradient {
          top: -150px;
          -webkit-box-shadow: 0px 0px 90px 90px #d9198f;
          box-shadow: 0px 0px 90px 90px #d9198f;
          opacity: 0.8;
        }
      }

      .categories {
        &__wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          &--btn {
            max-width: 60px;
            max-height: 60px;
            margin: 5px;
            padding: 0;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &--icon {
              width: 35px;
              height: 35px;
              margin-bottom: 0;
            }

            &--line {
              display: none;
            }

            &--text {
              display: none;
            }
          }
        }
        .links {
          width: 85%;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
