.start {
  width: $wrapper-full;
  height: 100vh;
  @include createBg(center, no-repeat, cover);
  @include createFlex(flex, flex-start, center, column);
  font-weight: $f-weight-sm;

  .wrapper {
    width: 50%;
    height: $wrapper-l;
    @include createFlex(flex, space-evenly, center, column);
    font-weight: $f-weight-xs;

    &__links {
      width: $size-full;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: end;
      align-self: flex-end;

      &--back {
        width: $size-xs;
        height: $size-xs;
        margin-right: $space-xs;
        background-image: url("../../../../assets/quiz_back.png");
        @include createBg(center, no-repeat, contain);
      }

      &--cross {
        width: $size-xs;
        height: $size-xs;
        -ms-flex-item-align: end;
        align-self: flex-end;
        background-image: url("../../../../assets/quiz_cross.png");
        @include createBg(center, no-repeat, contain);
      }
    }

    &__logo {
      height: 30%;
      @include createFlex(flex, space-evenly, center, column);

      &--logo {
        background-image: url("../../../../assets/quiz_logo.png");
        @include createBg(center, no-repeat, contain);
        width: 200px;
        height: $size-xl;
      }

      &--header {
        @include createFlex(flex, center, center);
        width: 600px;
        height: $size-l;
        font-size: pxToRem(20);
      }
    }

    &__category {
      @include createFlex(flex, center, center, column);

      &--icon {
        @include createBg(center, no-repeat, contain);
        width: $size-xxl;
        height: $size-xxl;
      }

      &--title {
        @include createFlex(flex, center, center, column);
        margin-top: $space-xxs;
        div {
          width: 1$size-xxl;
          height: 1px;
          margin-top: $space-xxs;
        }

        p {
          margin-top: $space-xxs;
          margin-bottom: 0;
          font-size: pxToRem(25);
        }
      }
    }

    &__btn {
      position: relative;
      z-index: 1;
      width: 250px;
      @include createFlex(flex, space-around, center);
      padding: $space-xs;
      border-radius: $space-xs;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $space-xs;
        z-index: -1;
        -webkit-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear;
        opacity: 0;
      }

      div {
        width: $size-l;
        height: $size-l;
        @include createBg(center, no-repeat, cover);
      }
    }
  }
}

@media (max-width: $break-mobile) {
  .start {
    .wrapper {
      width: $wrapper-xl;

      &__logo {
        z-index: 2;
        position: absolute;
        top: 0;

        &--logo {
          width: 1$size-m;
          height: 90px;
        }

        &--header {
          display: none;
        }
      }
      &__links {
        z-index: 1;
        width: $wrapper-full;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
  }
}
