.start {
  width: 100%;
  height: 100vh;
  @include createBg(center, no-repeat, cover);
  @include createFlex(flex, flex-start, center, column);
  font-weight: $f-weight-sm;

  .wrapper {
    width: 50%;
    height: 70%;
    @include createFlex(flex, space-evenly, center, column);
    font-weight: $f-weight-xs;

    &__links {
      width: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: end;
      align-self: flex-end;

      &--back {
        font-size: 30px;
        margin-top: 5px;
        color: $c-white;
        font-weight: $f-weight-xs;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &--cross {
        font-size: 50px;
        color: $c-white;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-weight: $f-weight-xs;
      }
    }

    &__logo {
      height: 30%;
      @include createFlex(flex, space-evenly, center, column);

      &--logo {
        background-image: url("../../../../assets/quiz_logo.png");
        @include createBg(center, no-repeat, contain);
        width: 200px;
        height: 60px;
      }

      &--header {
        @include createFlex(flex, center, center);
        width: 600px;
        height: 50px;
        font-size: pxToRem(20);
      }
    }

    &__category {
      @include createFlex(flex, center, center, column);

      &--icon {
        @include createBg(center, no-repeat, contain);
        width: 70px;
        height: 70px;
      }

      &--title {
        @include createFlex(flex, center, center, column);
        margin-top: 5px;
        div {
          width: 170px;
          height: 1px;
          margin-top: 5px;
        }

        p {
          margin-top: 5px;
          margin-bottom: 0;
          font-size: pxToRem(25);
        }
      }
    }

    &__btn {
      position: relative;
      z-index: 1;
      width: 250px;
      @include createFlex(flex, space-around, center);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        z-index: -1;
        -webkit-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear;
        opacity: 0;
      }

      div {
        width: 50px;
        height: 50px;
        @include createBg(center, no-repeat, cover);
      }
    }
  }
}

@media (max-width: $break-mobile) {
  .start {
    .wrapper {
      width: 80%;

      &__logo {
        z-index: 2;
        position: absolute;
        top: 0;

        &--logo {
          width: 140px;
          height: 90px;
        }

        &--header {
          display: none;
        }
      }
      &__links {
        z-index: 1;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
  }
}
